* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    /* background-color: black;
    color: white; */
  }
  
  .container {
    display: flex;
    gap: 10px;
    padding: 20px;
  }
  
  .board , .button{
    border: 1px solid #e4e4e4;
    height: 80vh;
    width: 100vw;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 5px;
    tansition: all ease-in-out 2s ;
}

h1{
    width : 100;
    padding : 5px;
    text-align : center;
    text-shadow: 1px 2px 5px rgb(255, 255, 255);
}

.tex{
    padding : 10px;
    font-size : 30px;
    text-align : center;
    font-weight : 90;
    text-shadow: 1px 2px 5px rgb(255, 255, 255);
}

.texr{
    padding : 20px;
    text-align : right;
    color : rgb(52, 52, 52);
    font-weight : 900;
    text-shadow: 1px 2px 5px rgb(255, 255, 255);
    text-border : 1px;
}

.item {
    border: 1px solid;
    padding: 15px 8px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.itemd{
    margin-top:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.item:hover , .button:hover {
    background: rgba(255, 0, 0, 0.2);
    color: white;
    box-shadow: rgba(255, 0, 0, 0.2) 0px 2px 8px 0px;
}

  .button{
    width : 100px;
    height : 50px;
  }

  .del-but{
    width:50px;
    display:flex;
    align-items:centre;
}
.del-but:hover{
      background: white;
      color:black;
  }
  img{
    width:30px;
  }